uvicorn
fastapi
loguru
starlette
aiohttp
PyYAML
slack_sdk==3.18.1
uvicorn-loguru-integration==0.3.0
beautifulsoup4
schema
tabulate
httptools==0.5.0
requests==2.28.1
bs4
python-dateutil
async-cache==1.1.1
