uvicorn==0.30.1
slack_sdk==3.30.0
uvicorn-loguru-integration==0.3.0
httptools==0.6.1
requests==2.32.3
aiohttp==3.9.5
async-cache==1.1.1
fastapi
loguru
starlette
PyYAML
beautifulsoup4
schema
tabulate
bs4
python-dateutil
